/* Bungee, Kode Mono */
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Kode+Mono:wght@400..700&display=swap');

html {
    height: 100%;
}

body {
    font-family: 'Kode Mono';
    font-size: 20px;
    background-image: -webkit-linear-gradient(bottom, #d5ffd0 5%, rgb(230, 255, 244) 55%);
    background-image: linear-gradient(0deg, #d5ffd0 5%, rgb(230, 255, 244) 55%);
    background-repeat: repeat;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media screen and (max-width: 980px) {
    body {
        font-size: 30px;
    }
    .nameheading {
        display: block;
        width: 100%;
        text-align: center;
        padding: 0;
        font-size: 3.5rem!important;
    }
    .navlinks ul {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .navlinks li a {
        font-size: 1.75rem!important;
    }

    .main-container {
        margin-top: 15rem!important;
        padding: 0 0 15rem 0!important;
    }

    .footerlinks {
        text-align: center;
    }

    .footerlinks a {
        font-size: 1.75rem!important;
    }

    .icon-small {
        width: 2rem!important;
    }

    .icon-smaller {
        width: 1.75rem!important;
    }

    #findme {
        display: block!important;
    }

    .footerlinks a {
        display: block!important;
        font-size: 1.5rem!important;
        margin: auto;
        line-height: 1.5rem!important;
        background-image: none!important;
        transition: all 0.25s ease-in-out;
        padding: 0.2rem;
        height: 1.6rem;
        border-bottom: 0.3rem solid /*#ebbca9*/ rgba(0, 0, 0, 0);
    }

}

a {
    /*font-family: 'Bungee';*/
}

.inlinelink  {
    text-decoration: none;
    background-image: linear-gradient(to top, #eed5cf 35%, rgba(0,0,0,0) 25%);
    transition: all 0.25s ease-in-out;
    padding: 0 0.2rem;
    /*color: #255852;*/
    color: #000;
    font-weight: 700;
    height: 1.1rem;
    display: inline-block;
    border-bottom: 0 solid /*#ebbca9*/ #eed5cf;
}

.inlinelink:hover  {
    background-color: #eed5cf;
    transition: all 0.25s ease-in-out;
    color: #000;
    font-weight: 700;
    border-bottom: 0.5rem solid #eed5cf;
}

.navlinks {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #d5ffd0;
    border-bottom: 0.15rem solid #73E2A7;
}

.nameheading {
    display: inline-block;
    font-family: 'Bungee';
    font-size: 4rem;
    /*color: #73E2A7;*/
    color: #ff836d;
    padding: 0 0 0 1.5rem;
}

.nameheading a {
    text-decoration: none;
    background-image: none!important;
}

.navlinks ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    padding: 0 0 0 1.5rem;
}

.navlinks li {
    display: inline-block;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0;
}

.navlinks li a {
    color: #000;
    text-decoration: none;
    /*border-top: 5px solid #73E2A7;*/
    border-top: 5px solid #ebbca9 /*#ff9b89*/;
    padding: 0 0.15em;
    transition: all 0.25s ease-in-out;
    /*border-bottom: 0px solid #A9EBB7;*/
    border-bottom: 0px solid #ebbca9;
    font-weight: 700;
    color: #255852;
    font-size: 1.25rem;
    background-image: none!important;
}

.navlinks li a:hover {
    color: #000;
    /*background-color: #A9EBB7!important;
    border-top: 3px solid #A9EBB7;
    border-bottom: 3px solid #A9EBB7;
    background-color: #ebbca9!important;
    border-top: 3px solid #ebbca9;
    border-bottom: 3px solid #ebbca9;*/
    background-color: #ebbca9!important;
    border-top: 5px solid #9ee7c0;
    border-bottom: 3px solid #ebbca9;
    transition: all 0.25s ease-in-out;
}

.page-selected {
    background-color: #ebbca9;
    border: 5px solid #ebbca9;
    font-weight: 700;
}

.main-container {
    max-width: 65%;
    min-width: 50%;
    width: 65%;
    margin: 8rem auto 0 auto;
    padding-bottom: 8rem;
}

.box {
    padding: 1.5rem;
    background-color: rgba(255,255,255,0.4);
    box-shadow: 5px 5px 0 #73E2A7, 1px 1px 5px #73E2A7;
    overflow: hidden;

}

.section-wrapper {
    padding: 1rem;
}

.collapsible {
    background-color: #f1f1f1;
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px; 
    /*box-shadow: -1px -1px 3px rgba(255, 155, 137, 0.5);*/
    border-left: none;
    border-top:  none;
    border-right: 3px solid #ff9b89;
    border-bottom: 3px solid #ff9b89;
    /*transition: all 0.1s ease-out;*/
    transition: max-height 0.2s ease-out,
        border-bottom 0.1s ease-out;
}

.coll-title {
    float: left;
    font-family: 'Kode Mono';
}

.coll-arrow {
    float: right;
}

.coll-title h1, .coll-arrow {
    margin: 0;
    line-height: 2rem;
}

.active {
    border-bottom: none;
    transition: all 0.2s ease-out;
}

.content {
    max-height: 0;
    overflow: hidden;
    /*box-shadow: -1px 0px 2px rgba(255, 155, 137, 0.5);*/
    /*transition: all 0.2s ease-out;*/
    transition: max-height 0.2s ease-out,
        border-bottom 0.1s ease-out;
    background-color: rgba(213, 255, 208, 0.25);
}

.inline-heading {
    display: inline;
    vertical-align: text-bottom;
}

.content h2 {
    font-family: "Bungee";
    color: #ff8f7c;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    text-shadow: 1px 1px 0 #255852;
}

.inline-heading h2 {
    display: inline;
}

.content h3 {
    color: #255852;
    font-weight: 700;
    padding: 0;
    margin: 1rem 0 0 0;
}

.content {
    font-size: 1rem;
}

.chips {
    display: inline;
    padding: 0;
}

.chips li {
    display: inline-block;
    border: 2px solid #ff9b89;
    padding: 0.15rem 0.5rem;
    border-radius: 25px;
    margin: 0 0 0.25rem 0;
    font-size: 0.75rem; 
}

.hide {
    display: none;
}

.unhide {
    display: inline;
}

.show-hide {
    display: inline-block;
}

#headshot {
    float: left;
    width: 20%;
    margin: 0.25rem 1.5rem 0 0;
}

#headshot img {
    width: 100%;
    padding: 0;
    box-shadow: 0.25rem 0.25rem 0 0 #ff9b89;
}

#home-blurb {
    width: auto;
    /*text-align: justify;*/
}

#findme {
    font-family: 'Bungee';
    display: inline-block;
    color:#ff9b89; 
    text-shadow: 1px 1px 0 #255852;
}

.keyword {
    background-image: linear-gradient(to top, #a9eba9 40%, rgba(0,0,0,0) 20%);
    font-weight: 700;
}


.shiny {
    /*background-image: -webkit-linear-gradient(left, #73E2A7 25%, #ebbca9 37.5%, #73E2A7 75%);
    background-image: linear-gradient(90deg, #73E2A7 25%, #ebbca9 37.5%, #73E2A7 75%);*/
    background-image: -webkit-linear-gradient(45deg, #ff9b89 25%, #71e4ae 37.5%, #ff9b89 75%);
    background-image: linear-gradient(45deg, #ff9b89 25%, #71e4ae 37.5%, #ff9b89 75%);
    background-position: right center;
    background-size: 400% auto;
    -webkit-background-clip: text;
    background-clip: text;
    color: #73E2A7;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    transition: color 200ms linear;
}

.shiny:hover {
    background-position: left center;
    /*color: #56BF9C;*/
    transition: background-position 2000ms ease-out;
}

.shiny-block { /*#fde071*/
    background-image: -webkit-linear-gradient(left, #73E2A7 25%, #A9EBB7 37.5%, #73E2A7 75%);
    background-image: linear-gradient(90deg, #73E2A7 25%, #A9EBB7 37.5%, #73E2A7 75%);
    background-position: right center;
    background-size: 400% auto;
    transition: all 5s linear;
}

.shiny-block:hover {
    background-position: left center;
    transition: all 5s ease-out;
}

.footerlinks {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgb(230, 255, 244);
    border-top: 0.15rem solid #73E2A7;
    text-align: center;
}


.footerlinks a {
    text-decoration: none;
    font-size: 1rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    color: #255852;
    font-weight: 700;
    line-height: 0.5rem;
    background-image: linear-gradient(to top, #eed5cf 35%, rgba(0,0,0,0) 25%);
    transition: all 0.25s ease-in-out;
    padding: 0.2rem;
    height: 1.1rem;
    display: inline-block;
    border-bottom: 0.3rem solid /*#ebbca9*/ rgba(0, 0, 0, 0);
}

.footerlinks a:hover {
    background-color: #eed5cf;
    transition: all 0.25s ease-in-out;
    border-bottom: 0.3rem solid #eed5cf;
}

.icon-small {
    width: 1.5rem;
    margin-top: 1rem;
    vertical-align: text-bottom;
    margin: 0 -0.25rem 0 0;
    padding: 0;
}

.icon-smaller {
    width: 1.25rem;
    margin-top: 1rem;
    vertical-align: text-bottom;
    margin: 0 -0.25rem 0 0;
    padding: 0;
}

.filter-teal {
    filter: brightness(0) 
        saturate(100%) 
        invert(52%) 
        sepia(55%) 
        saturate(418%) 
        hue-rotate(124deg) 
        brightness(92%) 
        contrast(91%)
        drop-shadow(1px 1px 0 #ff9b89);
    
}


